.PhotosContainer{
    display: flex;
    height: auto;
    flex-direction: column;
}
.Gallery{
    display: flex;
    background-color: #e5251d;
    flex-wrap: wrap;
    justify-content: space-around;
}
